.signup-btn {
    display:  flex;
    justify-content:  center;
    align-items:  center;
    font-size:  14px;
    color:  #fff;
    width:  80px;
    height:  50px;
    background:  #620b37;
    text-transform:  capitalize;
    margin-left:  30px;
    border-radius: 3px;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
.signup-btn:hover{/*background: #fd4043;*/background: #971254;}

.login-btn{
    display:  flex;
    justify-content:  center;
    align-items:  center;
    font-size:  14px;
    color:  balck;
    width:  80px;
    height:  50px;
    background: white;
    text-transform:  capitalize;
    margin-left:  10px;
    border-radius: 3px;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}

.navbar-link{
    color:  #620b37;
    font-size:  16px;
    
    margin-left:  5px;
    margin-top:  5px;
    margin-right: 5px;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: all 1s ease;
    position: relative;
    text-decoration: none;
    
}

.navbar-link:hover::after, .navbar-link:focus::after {
    color:  #971254;
    opacity: 1;
    transform: translateY(-2px);
    

    


}

.navbar-link::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #971254;
    content: '';
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(4px);
}