.react-international-phone-input{
    width: 100%;
}
.signup-app-logo{
    width: 60% !important;
    height: auto;
    margin: 0 auto;
    display: block;
}

.signup-btn{
    display:  flex !important;
    justify-content:  center !important;
    align-items:  center !important;
    font-size:  14px !important;
    color:  white !important;
    width:  100% !important;
    height:  50px !important;
    background: #620b37 !important;
    text-transform:  capitalize !important;
    margin-top:  10px !important;
    border-radius: 3px !important;
    -webkit-transition: 0.3s linear !important;
    -moz-transition: 0.3s linear !important;
    -ms-transition: 0.3s linear !important;
    -o-transition: 0.3s linear !important;
    transition: 0.3s linear !important;
}

.signup-btn:hover{
    background: #971254 !important;
}

.react-international-phone-country-selector-dropdown{
    z-index: 9999 !important;
}

