

.donor-list-header {
  padding-bottom: 1%;
  text-align: center;
  }

  .list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    
  }
  
  .view-button {
    width: 18%; /* Adjust as needed */
  }

  .search-box::placeholder {
    text-align: center;
  }

  .spacer {
    flex-grow: 1;
  }


