.DonorRequests-header {
  text-align: center;
}

  .list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 0px;
  }
  
  .views-button {
    width: 10%; /* Adjust as needed */
  }

  .search-box::placeholder {
    text-align: center;
  }