.organization-list-header {
    margin-top: -10px;
  }

  .delete-button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .delete-button {
    padding: 0 0px; /* Adjust as needed */
  }

  .list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 100px;
  }
  
  .delete-button {
    width: 25%; /* Adjust as needed */
  }

  .search-box::placeholder {
    text-align: center;
  }