.OrganizationList-header {
    margin-top: -10px;
    margin-left: 242px;
  }

  .list-item-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust as needed */   
}
  
  .views-button {
    width: 10%;
  }

  .search-box::placeholder {
    text-align: center;
  }

  .spacer {
    flex-grow: 1;
  }

  .custom-meta .ant-list-item-meta-content {
    margin-left: 20px; /* Moves items 20 pixels to the left */
  }

