.OrganizationRequests-header {
    margin-top: -10px;
    margin-left: 270px;
  }

  .list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Adjust as needed */
    
}
  
  .view-button {
    width: 50%; /* Adjust as needed */
  }

  .search-box::placeholder {
    text-align: center;
  }

  .spacer {
    flex-grow: 1;
  }