.OrganizationRequests-header {
    text-align: center;
  }

  .list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%; /* Adjust as needed */
    
}
  
  .views-button {
    width: 12%; /* Adjust as needed */
  }

  .search-box::placeholder {
    text-align: center;
  }

  .spacer {
    flex-grow: 1;
  }